bcrypt==3.2.0
fastapi==0.68.2
passlib==1.7.4
pydantic==1.8.2
python-decouple==3.5
python-jose==3.3.0
python-multipart==0.0.5
sqlalchemy==1.4.25
sqlmodel==0.0.4
uvicorn==0.15.0

## Celery
# celery==5.1.2
# redis==3.5.3